[submodule "flavors/aws/7.8/files/openbsd-ena"]
	path = flavors/aws/7.8/files/openbsd-ena
	url = https://github.com/ajokela/openbsd-ena
[submodule "flavors/aws/7.9/files/openbsd-ena"]
	path = flavors/aws/7.9/files/openbsd-ena
	url = https://github.com/ajokela/openbsd-ena
